.idea/
.config/
.local/
cdn/
checkbox-in-ua-php-sdk/
ckeditor/
ckfinder/
fonts/
images/
www/
ttfontdata/
PHPMailer/
mail/
swagger-generator/
myadmin/
phpqrcode/
uploads/
favicon.png
docker/*
vendor/
vendors/
.htaccess
