.idea/
.config/
.local/
cdn/
checkbox-in-ua-php-sdk/
ckeditor/
ckfinder/
fonts/
images/
vendor/
vendors/
www/
ttfontdata/
PHPMailer/
mail/
swagger-generator/
theme/
myadmin/
phpqrcode/
uploads/
.htaccess
favicon.png
docker/*
